html
{
    font-size: 62.5%;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.feature-properties
{
    width: 100%;
    height: 727px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5FAFE;
}

.feature-Container
{   
   /*width:23%*/
   width: 78%;
   height: 507px;
  
   margin: 0 auto;
   
}

.feature-properties-header
{
    width: 100%;
    height: 60px; 
}

.feature-properties-header__title
{   
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000339;
}

.feature-properties-header-bottom
{
    display: flex;
    justify-content: space-between;
}

.feature-properties-header-bottom__subtitle
{   
    font-size: 1.6rem;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color:#5A6473;
}

.feature-properties-header-link-container
{
    display: flex;
    justify-content: space-between;
}

.feature-properties-header-link-container__link
{   
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
      
}

.feature-properties-header-link-container__link a
{
    color: #0689FF;
}


.feature-properties-header-link-container__icon
{   
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/Feature01/Vector.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.feature-container-cards
{   
    
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding:  60px 0;
    column-gap: 20px;
    
    
}



.card-img
{
   width: 100%;
   height: 227px;
}

.card-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:  8px 8px 0  0;
}

.card-content
{
    width: 100%;
    height: 130px;
}

.card__price
{   
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color:  #000339;
    
}

.card__description
{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color:#A3A6AB;
}

.items-feature-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.3rem;
}


.feature-card-item__icon
{
    display: inline-block;

}

.feature-card-item__span
{   
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4rem;
    color: #4D4D52;
    

}

.feature-card-item__icon--beds
{
    background-image: url(/assets/images/Feature01/bed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    width: 1.5rem;
    height: 1rem;

}

.feature-card-item__icon--both
{
    
    background-image: url(/assets/images/Feature01/bath.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 1.5rem;
    height: 1.1rem;
}

.feature-card-item__icon--sqft
{
        
    background-image: url(/assets/images/Feature01/sqrt.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 1.5rem;
    height: 1.3rem;
}

.feature-card-item__span
{
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.4rem;
}